/* HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE  */
/* HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE  */
/* HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE  */

#back{
  background: url("assets/texture.gif");
  background-position: center;
}

a{
  text-decoration: none;
  color: #1c1b1c;
}

#back p{
  color: white;
}

.avatar{
  position: absolute;
  z-index: 2;
  top: 15%;
}

.avatar img{
  width: 100px;
  height: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 5 columns */
  grid-gap: 1px; /* Adds a 10px gap between grid items */
  position: absolute;
  z-index: 2;
  border: 1px solid black;
  padding: 1px;
  top: 35%;
  mixBlendMode: hard-light;
}

.grid-container div{
  background-color: #f7f7f7;
  width: 75px;
  height: 75px;
  border: 1px solid black;
  right: 0;
  mixBlendMode: multiply;
}

.grid-container p{
  font-size: 15px;
  margin: 3px;
  text-align: left;
  font-family: arial;
  top: 0;
  left: 0;
}

#g1-1{
  background: transparent;
}

#g1-1:hover{
  rotate: -20deg;
}

#g1-2{
  background: #88c0af;
}

#g1-3{
  background: transparent;
  background-image: url('assets/digitaldiv_icon.png');
  background-size: 35px;
  rotate: -90deg;
  background-position: center;
  background-repeat: no-repeat;
}

#g1-3:hover{
  rotate: -80deg;
}

#g1-4{
  background-image: url('assets/envirohypno_icon.png');
  background-size: 35px;
  rotate: -90deg;
  background-position: center;
  background-repeat: no-repeat;
}

#g1-4:hover{
  rotate: 80deg;
}

#g1-5{
  background: transparent;
  border: 1.5px solid #e5dc7a;
}

#g2-1{
  background: transparent;
  background-image: url('assets/mindseye_icon.png');
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

#g2-1:hover{
  rotate: -20deg;
}

#g2-2{
  background: transparent;
  border: 1.5px solid #26b926;
}

#g2-3{
  background: #5878e0;
  border: 1.5px solid #b7b05d;
}

#g2-3:hover{
  rotate: -20deg;
}

#g2-4{
  background: transparent;
}

#g2-4:hover{
  rotate: -20deg;
}

#g2-5{
  background: #7e915c;
}

#g3-2{
  background: transparent;
}

#g3-3{
  background: #e6a681;
}

#g3-3:hover{
  rotate: -20deg;
}

#g3-4{
  background: #8a88c0;
  background-image: url('assets/icon2.png');
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

#g2-1:hover{
  rotate: -20deg;
}

#g3-5{
  background: transparent;
  background-image: url('assets/about_icon.png');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

#g3-5:hover{
  rotate: -20deg;
}

#g4-1{
  background: #a6bf34;
}

#g4-1:hover{
  rotate: -20deg;
}

#g4-2{
  background-image: url('assets/limbs_icon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mixBlendMode: multiply;
}

#g4-2:hover{
  rotate: -20deg;
}

#g4-4{
  background: #79da52;
}

#g4-5{
  background: transparent;
}

#g5-1{
  background: transparent;
}

#g5-2{
  background: #c693c4;
}

#g5-2:hover{
  rotate: -20deg;
}

#g5-3{
  background-image: url('assets/traditional_icon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#g5-3:hover{
  rotate: -20deg;
}

#g5-5{
  background: transparent;
  background-image: url('assets/icon.png');
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

#g2-1:hover{
  rotate: -20deg;
}


/* GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY */
/* GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY */
/* GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY */

.container {
  max-width: 1600px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  margin: 0 auto;
}

.imageContainer {
  border: 1px solid black;
  padding: 3px;
  align-self: start;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 90px));
  grid-gap: 20px;
}

.galleryImg {
  width: 100%;
  height: 60px;
  position: relative;
  cursor: pointer;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  padding: 5px;
}

#selectedImage {
  max-height: 100%;
  max-width: 100%;
}

.text {
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}





