.avatar{
  position: absolute;
  z-index: 2;
  top: 15%;
}

.avatar img{
  width: 100px;
  height: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 5 columns */
  grid-gap: 0px; /* Adds a 10px gap between grid items */
  position: absolute;
  z-index: 2;
  border: 0.75px solid black;
  top: 35%;
}

.grid-container div{
  background-color: #ddd;
  width: 75px;
  height: 75px;
  border: 0.5px solid black;
}

.grid-container p{
  font-size: 15px;
  margin: 3px;
  text-align: left;
  font-family: arial;
  top: 0;
  left: 0;
}

#g1-1{
  background: transparent;
}

#g1-5{
  background: transparent;
}

#g2-2{
  background: transparent;
}

#g3-2{
  background: transparent;
}

#g3-5{
  background: transparent;
}

#g4-2{
  background-image: url('assets/limbs_icon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#g5-1{
  background: transparent;
}